.ampx-button {
  cursor: pointer;
  border: 0;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 0 10px;
  margin: 0 8px;
  background-color: transparent;
  transition: 0.3s;
  color: #333333;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 3px;
}

.ampx-button:hover {
  color: #1ab0f9;
}

.ampx-button__primary {
  background-color: #039be5;
  color: #fff;
}

.ampx-button__primary:hover {
  background-color: #1ab0f9;
  color: #fff;
}

.ampx-button__disabled:hover,
.ampx-button__disabled {
  background-color: #e5e5e5;
  color: #bfbfbf;
}
