.ampx-heading-extra-large {
  font-size: 56px;
  font-weight: 400;
}

.ampx-heading {
  font-size: 24px;
  font-weight: 400;
}

.ampx-subheading-large {
  font-size: 20px;
  font-weight: 500;
}

.ampx-subheading {
  font-size: 16px;
  font-weight: 400;
}

.ampx-body,
.ampx-link {
  font-size: 13px;
}

.ampx-link:hover {
  color: #1ab0f9;
  cursor: pointer;
}

.ampx-label,
.ampx-error {
  font-size: 11px;
  color: #808080;
}

.ampx-error {
  color: #ff3366;
}
