@import 'core.css';

.ampx-button {
  border: 0;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: var(--bsu);
  font-size: var(--font-size-x-large);
  border-radius: var(--border-radius);
}

.ampx-button__primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.ampx-button__secondary {
  border: var(--border);
}