@import 'core.css';

.ampx-button {
    border: 0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 0 10px;
    margin: 0 8px;
    background-color: transparent;
    transition: var(--transition-speed);
    color: var(--color-default-text);
    height: var(--line-height);
    line-height: var(--line-height);
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-medium);
    border-radius: var(--border-radius);
}

.ampx-button:hover {
  color: var(--color-primary-light);
}

.ampx-button__primary {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.ampx-button__primary:hover {
    background-color: var(--color-primary-light);
    color: var(--color-white);
}

.ampx-button__disabled {
    background-color: var(--color-grey-disabled);
    color: var(--color-grey-text-disabled);
}

